@page "/"
@namespace TavssStudent.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0" />*@
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Tavss Student</title>
    <base href="~/" />

    <!-- ** Plugins Needed for the Project ** -->
    <!-- Bootstrap -->
    @*<link rel="stylesheet" href="~/plugins/bootstrap/bootstrap.min.css">*@
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <!-- slick slider -->
    <link rel="stylesheet" href="~/plugins/slick/slick.css">
    <!-- themefy-icon -->
    @*<link rel="stylesheet" href="~/plugins/themify-icons/themify-icons.css">*@
    <!-- animation css -->
    <link rel="stylesheet" href="~/plugins/animate/animate.css">
    <!-- aos -->
    <link rel="stylesheet" href="~/plugins/aos/aos.css">
    <!-- venobox popup -->
    <link rel="stylesheet" href="~/plugins/venobox/venobox.css">

    <!-- Main Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="~/images/favicon.png" type="image/x-icon">

</head>
<body>
    <!-- preloader start -->
    <div class="preloader">
        <img src="images/preloader.gif" alt="preloader">
    </div>
    <!-- preloader end -->
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>
    <partial name="_FooterSite" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <script src="_framework/blazor.server.js"></script>

    <!-- jQuery -->
    <script src="~/plugins/jQuery/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    @*<script src="~/plugins/bootstrap/bootstrap.min.js"></script>*@
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>

    @*<script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>*@
    <!-- slick slider -->
    <script src="~/plugins/slick/slick.min.js"></script>
    <!-- aos -->
    <script src="~/plugins/aos/aos.js"></script>
    <!-- venobox popup -->
    <script src="~/plugins/venobox/venobox.min.js"></script>
    <!-- filter -->
    <script src="~/plugins/filterizr/jquery.filterizr.min.js"></script>
    <!-- google map -->
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ"></script>*@
    <script src="~/plugins/google-map/gmap.js"></script>

    @*<script src="_content/BlazorStrap/blazorstrap.js"></script>
    <script src="_content/BlazorStrap/popper.min.js"></script>*@
    <!-- Main Script -->
    <script src="~/js/script.js"></script>


    @*<script>
        window.initializeCarousel = () => {
            $('#carouselExampleIndicators').carousel({
                interval: 1000
            })
        }
    </script>*@



</body>
</html>
