@page "/addsupervisior/{ProjectId}"
@inherits AddSuperVisiorBase
<!-- /page title -->
<PageTitle Title="Add SuperVisor"></PageTitle>
<!-- /page title -->

<EditForm Model="@SuperVisor" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <h3 class="alert-info align-content-center">Add InProgress</h3>
    <hr />
    <ValidationSummary />
    <div class="form-group row">
        <label for="firstName" class="col-sm-2 col-form-label">
            InProgress Name
        </label>
        <div class="col-sm-10">
            <InputText id="firstName" class="form-control" placeholder="Name"
                       @bind-Value="SuperVisor.Name" />
            <ValidationMessage For="@(() => SuperVisor.Name)" />
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
    <a class="btn btn-primary" href="@($"/projectdetails/{ProjectId}")">Back to the project</a>

</EditForm>
