


<PageTitle />

<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <!-- course item -->
            @*@foreach (var item in collection)
            {
                <div class="col-lg-4 col-sm-6 mb-5">
                    <div class="card p-0 border-primary rounded-0 hover-shadow">
                        <img class="card-img-top rounded-0" src="images/courses/course-1.jpg" alt="course thumb">
                        <div class="card-body">
                            <a href="Community-single.html">
                                <h4 class="card-title project-name">Course Name</h4>
                            </a>
                            <div class="text-center">
                                <a href="Community-single.html" class="btn btn-primary btn-sm">Start</a>
                            </div>
                        </div>
                    </div>
                </div>
            }*@
            <!-- /course item -->
        </div>
    </div>
</section>
