@page "/courses"
@inherits DisplayCoursesBase
<!-- page title -->
    <PageTitle Title="All Courses" ></PageTitle><!-- /page title -->
@if (Courses == null)
{
    <h1>Loading</h1>
}
else
{
    <section class="section">
        <div class="container">
            <!-- course list -->
            <div class="row justify-content-center">
                <!-- course item -->
                @foreach (var course in Courses)
                {
                    <div class="col-lg-4 col-sm-6 mb-5">
                        <div class="card p-0 border-primary rounded-0 hover-shadow">
                            <img class="card-img-top rounded-0" asp-append-version="true" src="images/courses/course1.jpg" alt="@course.Name">
                            <div class="card-body">
                                <a href="course-lectures.html">
                                    <h4 class="card-title"> @course.Name</h4>
                                </a>
                                <p class="card-text mb-4">
                                    @foreach (var doctor in course.DRID)
                                    {
                                        <h4>@doctor</h4>
                                    }
                                </p>
                                <a href="@($"/coursedetails/{course.Id}")" class="btn btn-primary btn-sm">Start</a>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </section>
}
