@page "/"
@inherits IndesBase

<Slidar />

<!-- banner-feature -->
<section class="container bg-gray">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-xl-4 col-lg-5 align-self-end">
                <h3 class="Acclaims-home"> ACCLAIMS</h3>
                <img class="img-fluid w-100" src="images/banner/banner-feature.png" alt="banner-feature">
            </div>
            <div class="col-xl-8 col-lg-7">
                <div class="row feature-blocks bg-gray justify-content-between">
                    <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
                        <!-- <i class="ti-book mb-xl-4 mb-lg-3 mb-4 feature-icon"></i> -->
                        <a href="#" target="_blank"> <img src="https://via.placeholder.com/150" class="user-img Acclaims-home-img"> </a>
                        <a href="#" target="_blank"> <h3 class="mb-xl-4 mb-lg-3 mb-4">Acclaim 1</h3> </a>
                    </div>

                    <div class="col-sm-9"></div>
                    <div class="col-sm-3">
                        <a href="courses.html" class="btn btn-sm btn-primary-outline ml-sm-3 d-none d-sm-block">see all</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /banner-feature -->
<!-- courses -->
<section class="section-sm" style="padding-top: 115px; padding-bottom: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center section-title justify-content-between">
                    <h2 class="mb-0 text-nowrap mr-3">COURSES</h2>
                    <div class="border-top w-100 border-primary d-none d-sm-block"></div>
                    <div>
                        <a href="courses.html" class="btn btn-sm btn-primary-outline ml-sm-3 d-none d-sm-block">See All</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- course list -->
        <div class="row justify-content-center">
            <!-- course item -->
            <div class="col-lg-4 col-sm-6 mb-5">
                <div class="card p-0 border-primary rounded-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="images/courses/course-1.jpg" alt="course thumb">
                    <div class="card-body">
                        <a href="course-lectures.html">
                            <h4 class="card-title">Course 1</h4>
                        </a>
                        <a href="course-lectures.html" class="btn btn-primary btn-sm">Browse</a>
                    </div>
                </div>
            </div>
            <!-- /course item -->

        </div>
        <!-- /course list -->
        <!-- mobile see all button -->
        <div class="row">
            <div class="col-12 text-center">
                <a href="courses.html" class="btn btn-sm btn-primary-outline d-sm-none d-inline-block">See All</a>
            </div>
        </div>
    </div>
</section>
<!-- /courses -->
<!-- Projects -->
<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center section-title justify-content-between">
                    <div>
                        <a href="project.html" class="btn btn-sm btn-primary-outline ml-sm-3 d-none d-sm-block">See All</a>
                    </div>
                    <div class="border-top w-100 border-primary d-none d-sm-block"></div>
                    <h2 class="mb-0 text-nowrap mr-3">PROJECTS</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- project item -->
            <div class="col-lg-4 col-sm-6 mb-5">
                <div class="card p-0 border-primary rounded-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="images/courses/course-1.jpg" alt="course thumb">
                    <div class="card-body">
                        <a href="project-single.html">
                            <h4 class="card-title">Project 1</h4>
                        </a>
                        <a href="project-single.html" class="btn btn-primary btn-sm">Start</a>
                    </div>
                </div>
            </div>
            <!-- /project item -->
        </div>

        <!-- mobile see all button -->
        <div class="row">
            <div class="col-12 text-center">
                <a href="projects.html" class="btn btn-sm btn-primary-outline d-sm-none d-inline-block">sell all</a>
            </div>
        </div>
    </div>
</section>
<!-- /Project -->
<!-- community -->
<section class="section-sm" style="padding-top: 20px; padding-bottom: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center section-title justify-content-between">
                    <h2 class="mb-0 text-nowrap mr-3">COMMUNITIES</h2>
                    <div class="border-top w-100 border-primary d-none d-sm-block"></div>
                    <div>
                        <a href="communities.html" class="btn btn-sm btn-primary-outline ml-sm-3 d-none d-sm-block">See All</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- community item -->
            <div class="col-lg-4 col-sm-6 mb-5">
                <div class="card p-0 border-primary rounded-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="images/courses/course-1.jpg" alt="course thumb">
                    <div class="card-body">
                        <a href="Community-single.html">
                            <h4 class="card-title">Community 1</h4>
                        </a>
                        <a href="Community-single.html" class="btn btn-primary btn-sm">Browse</a>
                    </div>
                </div>
            </div>
            <!-- /community item -->
            <!-- mobile see all button -->
            <div class="row">
                <div class="col-12 text-center">
                    <a href="communities.html" class="btn btn-sm btn-primary-outline d-sm-none d-inline-block">See All</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /community -->