@inherits LayoutComponentBase

        <header class="fixed-top header">
            <NavMenu />
        </header>

<div class="container main">
    <div class="content px-4">
        @Body
    </div>
</div>
