<!-- top header -->


<!-- navbar -->
<div class="navigation w-100">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light p-0">
            <a class="navbar-brand" href=""><img src="images/TAVSSv1.png" alt="logo" style="width:150px; height: 50px;"></a>
            <button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation"
                    aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navigation">
                <ul class="navbar-nav ml-auto text-center">
                    <NavLink class="nav-item" href="/" Match="NavLinkMatch.All">
                        <NavLink class="nav-link">Home</NavLink>
                    </NavLink>
                    <NavLink class="nav-item" Match="NavLinkMatch.All">
                        <NavLink class="nav-link" href="/courses" >COURSES</NavLink>
                    </NavLink>
                    <NavLink class="nav-item" Match="NavLinkMatch.All">
                        <NavLink class="nav-link" href="/projects">PROJECTS</NavLink>
                    </NavLink>
                    <NavLink class="nav-item " Match="NavLinkMatch.All">
                        <a class="nav-link" href="#">ACCLAIMS</a>
                    </NavLink>
                    <NavLink class="nav-item " Match="NavLinkMatch.All">
                        <a class="nav-link" href="/communities">COMMUNITIES</a>
                    </NavLink>
                    <NavLink class="nav-item" Match="NavLinkMatch.All">
                        <a class="nav-link" href="#">ASSIGNMENTS</a>
                    </NavLink>
                    <NavLink class="nav-item dropdown view" style="margin-top: 28px;" Match="NavLinkMatch.All">
                        <img src="https://via.placeholder.com/150" class="user-img">
                        <a class="nav-link dropdown-toggle" href="#" style="display: inline;" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            User Name
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">SETTING</a>
                            <a class="dropdown-item" href="#">LOG OUT</a>
                        </div>
                    </NavLink>
                </ul>
            </div>
        </nav>
    </div>
</div>
